@model (string workflow, string theme)
@{
    Func<string, string> getClass = (string feature) =>
        feature != null && feature.Equals(Model.workflow) ? "active" : "";
}
<a class="m-1 btn btn-@Model.theme btn-block @getClass("Dashboard")"
   asp-page="Dashboard">
    Dashboard
</a></br>
<a class="m-1 btn btn-@Model.theme btn-block @getClass("Features")" asp-page="Features">
    Store Features
</a></br>
<a class="m-1 btn btn-success btn-block @getClass("List")" asp-page="View"
   asp-route-id="">
    List Users
</a></br>
<a class="m-1 btn btn-success btn-block @getClass("Create")" asp-page="Create">
    Create Account
</a></br>
<a class="m-1 btn btn-success btn-block @getClass("Delete")" asp-page="Delete">
    Delete Account
</a></br>
<a class="m-1 btn btn-success btn-block @getClass("Edit")" asp-page="Edit"
   asp-route-id="">
    Edit Users
</a></br>
<a class="m-1 btn btn-success btn-block @getClass("Passwords")" asp-page="Passwords"
   asp-route-id="">
    Passwords
</a></br>
<a class="m-1 btn btn-success btn-block @getClass("Lockouts")" asp-page="Lockouts">
    Lockouts
</a></br>
<a class="m-1 btn btn-success btn-block @getClass("Roles")"
   asp-page="Roles" asp-route-id="">
    Edit Roles
</a></br>
<a class="m-1 btn btn-success btn-block @getClass("Claims")"
   asp-page="Claims" asp-route-id="">
    Claims
</a>