@model HowTo_DBLibrary.Node

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Node</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentNodeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentNodeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreeLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NodeText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NodeText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tree.Heading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NodeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
