@model HowTo_DBLibrary.Node

@{
    ViewData["Title"] = "Admin: Edit " + @Model.Heading;
}
<div class="contain1">
    <h1>Edit</h1>
    @Html.ActionLink("Return to Book", "Details", "Books", new { id = @Model.NodeId, ParentNodeID = @Model.ParentNodeId, TreeLevel = @Model.TreeLevel}, new { @class = "btn btn-info" })
    <hr />
    <form asp-action="Edit" asp-route-id="@Model.NodeId" asp-route-ParentNodeID="@Model.ParentNodeId" asp-route-TreeLevel="@Model.TreeLevel">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="NodeId" />
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <h4><label asp-for="Heading" class="control-label"></label></h4>
                    <textarea class="form-control" asp-for="Heading"></textarea>
                    <span asp-validation-for="Heading" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h4><label asp-for="NodeText" class="control-label"></label></h4>
                    <textarea class="form-control" asp-for="NodeText" rows="20"></textarea>
                    <span asp-validation-for="NodeText" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => @Model.NodeId)
            </dt>
            <dd class="col-sm-2">
                @Html.EditorFor(model => @Model.NodeId)
                <span asp-validation-for="NodeId" class="text-danger"></span>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => @Model.ParentNodeId)
            </dt>
            <dd class="col-sm-2">
                @Html.EditorFor(model => @Model.ParentNodeId)
                <span asp-validation-for="ParentNodeId" class="text-danger"></span>
            </dd>
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => @Model.TreeLevel)
            </dt>
            <dd class="col-sm-2">
                @Html.EditorFor(model => @Model.TreeLevel)
                <span asp-validation-for="TreeLevel" class="text-danger"></span>
            </dd>
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => @Model.Owner)
            </dt>
            <dd class="col-sm-2">
                @Html.EditorFor(model => @Model.Owner)
                <span asp-validation-for="Owner" class="text-danger"></span>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => @Model.Tree)
            </dt>
            <dd class="col-sm-2">
                <select asp-for="TreeId" class="form-control" asp-items="ViewBag.TreeId"></select>
                <span asp-validation-for="TreeId" class="text-danger"></span>
            </dd>
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => @Model.Type)
            </dt>
            <dd class="col-sm-2">
                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </dd>
        </dl>
    </form>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>

