@model Books.Models.BookIndexViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="contain">
    <div class="masthead">
        <!--
        <p class="logo"><img src="~/images/logo.jpg" /></p>
        -->
        <nav role="navigation">
            <ul class="nav-main">
                @if (ViewBag.SearchText != "")
                {
                    <li>
                        <form asp-action="Index" asp-controller="Books" asp-route-searchtext ="@ViewBag.SearchText">
                            <button class="navbutton, btn, btn-info" type="submit">Back</button>
                        </form>
                    </li>
                }
                @if (ViewBag.KeyText != "")
                {
                    <li>
                        @if (ViewBag.Distinct == "Distinct")
                        {
                            <form asp-action="Details" asp-controller="Keys" asp-route-keyText="@ViewBag.KeyText" asp-route-Distinct="@ViewBag.Distinct" asp-route-Category="@ViewBag.Category">
                                <button class="navbutton, btn, btn-info" type="submit">Back</button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="Index" asp-controller="Keys">
                                <button class="navbutton, btn, btn-info" type="submit">Back</button>
                            </form>
                        }
                    </li>
                }
                @if (@Model.HasChildren)
                {
                    <li>
                        <form asp-action="Down" asp-controller="Books" asp-route-id="@Model?.Node.NodeId">
                            <button class="navbutton, btn, btn-info" type="submit">Down</button>
                        </form>
                    </li>
                }
                @if (@Model.HasParent)
                {
                    <li>
                        <form asp-action="Up" asp-controller="Books" asp-route-id="@Model?.Node.NodeId">
                            <button class="navbutton, btn, btn-info" type="submit">Up</button>
                        </form>
                    </li>
                }
                <li>
                    <form asp-action="Index" asp-controller="Books">
                        <button class="navbutton, btn, btn-info" type="submit">Home</button>
                    </form>
                </li>
            </ul>
            @if (@Model.Owner)
            {
                <ul class="nav-main">
                    <li>
                        <form asp-action="Edit" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId" method="get">
                            <button class="navbutton, btn, btn-info" type="submit">Edit</button>
                        </form>
                    </li>
                </ul>
                @if (@Model.Node.Heading != "Chapter Summary")
                {
                    <ul class="nav-main">
                        <li>
                            <form asp-action="New" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId" method="get">
                                <button class="navbutton, btn, btn-info" type="submit">New</button>
                            </form>
                        </li>
                        <li>
                            <form asp-action="NewChild" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId" method="get">
                                <button class="navbutton, btn, btn-info" type="submit">New Child</button>
                            </form>
                        </li>
                    </ul>
                }
                @if (@Model.Node.TreeLevel > 1 && @Model.Node.Heading != "Chapter Summary")
                {
                    <ul class="nav-main">
                        <li>
                            <form asp-action="Edit" asp-controller="Formula" asp-route-id="@Model?.Node.NodeId" method="get">
                                <button class="navbutton, btn, btn-info" type="submit">Create Formula</button>
                            </form>
                        </li>
                    </ul>
                }
            }
            <ul class="nav-main">
                @if (!@Model.HasSummary && @Model.ShowingDetails && @Model.Node.TreeLevel > 2 && @Model.Node.Heading != "Chapter Summary")
                {
                    <li>
                        <form asp-action="CreateSummary" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId" method="get">
                            <button class="navbutton, btn, btn-info" type="submit">Create Summary</button>
                        </form>
                    </li>
                }
                @if (@Model.Node.TreeLevel == 2 && @Model.Node.Heading.Length > 6)
                {
                    if (@Model.Node.Heading.Substring(0, 7) == "Chapter")
                    {
                        <li>
                            <form asp-action="Chapter" asp-controller="Summaries" asp-route-id="@Model?.Node.NodeId">
                                <button class="navbutton, btn, btn-info" type="submit">Chapter Summary</button>
                            </form>
                        </li>
                    }
                }
            </ul>
            <ul class="nav-main">
                @if (@Model.HasSummary && @Model.ShowingDetails)
                {
                    <ul class="detailssummary">
                        <li>
                            <form asp-action="Details" asp-controller="Books" asp-route-id="@Model?.Node.NodeId" asp-route-Display="Summary">
                                <button class="navbutton, btn, btn-info" type="submit">Summary</button>
                            </form>
                        </li>
                    </ul>
                }
                @if (@Model.HasSummary && @Model.ShowingSummary)
                {
                    <ul class="detailssummary">
                        <li>
                            <form asp-action="EditSummary" asp-controller="Admin" asp-route-id="@Model?.Summary.SummaryId" method="get">
                                <button class="navbutton, btn, btn-info" type="submit">Edit Summary</button>
                            </form>
                        </li>
                        <li>
                            <form asp-action="Details" asp-controller="Books" asp-route-id="@Model?.Node.NodeId" asp-route-Display="Details">
                                <button class="navbutton, btn, btn-info" type="submit">Details</button>
                            </form>
                        </li>
                    </ul>
                }
                @if (@Model.HasOtherSummaries && @Model.ShowingDetails)
                {
                    <ul class="detailssummary">
                        <li>
                            <form asp-action="Details" asp-controller="Books" asp-route-id="@Model.Node.NodeId" asp-route-Display="Summary" asp-route-summaryid="@Model.SummaryId">
                                <dl>
                                    <dt>
                                        Select Other Summary
                                    </dt>
                                    <dd>
                                        <select asp-for="@Model.SummaryId" class="form-control" asp-items="ViewBag.SummaryId">
                                        </select>
                                    </dd>
                                </dl>
                                <input class="btn btn-primary" type="submit" value="Select" />
                            </form>
                            @Html.Hidden("summaryid", @Model.SummaryId)
                        </li>
                    </ul>
                }
                @if (@Model.HasOtherSummaries && @Model.ShowingSummary)
                {
                        <ul class="detailssummary">
                            <li>
                                <form asp-action="Details" asp-controller="Books" asp-route-id="@Model?.Node.NodeId" asp-route-Display="Details" method="post">
                                    <button class="navbutton, btn, btn-info" type="submit">Details</button>
                                </form>
                            </li>
                        </ul>
                }
            </ul>
            @if (Model.Owner)
            {
                <ul class="nav-main">
                    <div class="PictureTools">
                        <form asp-action="NewPicture" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId" asp-route-picturetitle="@Model.PictureTitle" asp-route-picturefile="@Model.PictureFile" enctype="multipart/form-data" method="post">
                            <dl>
                                <dt>
                                    <label asp-for="@Model.PictureTitle"></label>
                                </dt>
                                <dd>
                                    <input asp-for="@Model.PictureTitle" type="text">
                                    <span asp-validation-for="@Model.PictureTitle"></span>
                                </dd>
                                <dt>
                                    <label asp-for="@Model.PictureFile"></label>
                                </dt>
                                <dd>
                                    <input asp-for="@Model.PictureFile" type="file">
                                    <span asp-validation-for="@Model.PictureFile"></span>
                                </dd>
                            </dl>
                            <input class="btn btn-primary" type="submit" value="Save" />
                        </form>
                    </div>
                </ul>
            }
            @if (Model.Node.TreeLevel > 1 && @Model.Node.Heading != "Chapter Summary" && @Model.ShowingDetails)
            {
                <ul class="nav-main">
                    <form asp-action="NewKey" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId" asp-route-keytext="@Model?.KeyText" asp-route-category="@Model?.Category" method="post">
                        <dl>
                            <dt>
                                <label asp-for="@Model.KeyText"></label>
                            </dt>
                            <dd>
                                <input asp-for="@Model.KeyText" type="text" value="@Model.SearchKey">
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label asp-for="@Model.Category" class="control-label"></label>
                            </dt>
                            <dd>
                                <select asp-for="@Model.Category" class="form-control">
                                    <option value="None">None</option>
                                    <option value="AngularJS">AngularJS</option>
                                    <option value="ASP">ASP</option>
                                    <option value="Bootstrap">Bootstrap</option>
                                    <option value="CSharp">CSharp</option>
                                    <option value="CSS">CSS</option>
                                    <option value="Debugging">Debugging</option>
                                    <option value="Dev Tools Edge">Dev Tools Edge</option>
                                    <option value="Excel">Excel</option>
                                    <option value="Fixes">Fixes</option>
                                    <option value="Git">Git</option>
                                    <option value="HTML">HTML</option>
                                    <option value="HTTP">HTTP</option>
                                    <option value="Java">Java</option>
                                    <option value="JavaScript">JavaScript</option>
                                    <option value="JQuery">JQuery</option>
                                    <option value="LINQ">LINQ</option>
                                    <option value="MVC">MVC</option>
                                    <option value="Razor">Razor</option>
                                    <option value="TCPIP">TCPIP</option>
                                    <option value="VB">VB</option>
                                    <option value="WPF">WPF</option>
                                </select>
                            </dd>
                        </dl>
                        <input class="btn btn-primary" type="submit" value="Save" />
                    </form>
                </ul>
            }
            <ul class="nav-main">
                @foreach (var n in Model.Siblings)
                {
                    var classfields = "navbuton btn" + (@n.Heading == ViewBag.SelectedNodeHeading ? " btn-primary" : "btn-info ");
                    @if (n.TreeLevel != 1)
                    {
                        <form asp-action="Details" asp-controller="Books" asp-route-id="@n.NodeId">
                            <button class="@classfields" type="submit">@n.Heading</button><br />
                        </form>
                    }
                }
            </ul>
            @if (Model.Node.TreeLevel == 3 && Model.HasOtherChapterSummSiblings)
            {
                <ul class="detailssummary">
                    <li>
                        <form asp-action="Details" asp-controller="Books" asp-route-id="@Model.OtherChapterSummId">
                            <dl>
                                <dt>
                                    Select Other Chapter Summary
                                </dt>
                                <dd>
                                    <select asp-for="@Model.OtherChapterSummId" class="form-control" asp-items="ViewBag.OtherChapterSummId">
                                    </select>
                                </dd>
                            </dl>
                            <input class="btn btn-primary" type="submit" value="Select" />
                        </form>
                        @Html.Hidden("OtherChapterSummId", @Model.OtherChapterSummId)
                    </li>
                </ul>
            }
            @if (@Model.HasPicture && !(@Model.Node.TreeLevel == 1))
            {
                <ul class="nav-main">
                    @if (!@Model.PictureFixed)
                    {
                        <ul class="picturebuttons">
                            @for (int i = 0; i < Model.NoOfPictures; i++)
                            {
                                <li>
                                    <form asp-action="Details" asp-controller="Books" asp-route-id="@Model.Node.NodeId" asp-route-picturefixed=true asp-route-pictureptr=@i>
                                        <button class="navbutton, btn, btn-info" type="submit">@Model.Pictures.ToArray()[i].Title</button>
                                    </form>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <ul class="picturebuttons">
                            <li>
                                <form asp-action="Details" asp-controller="Books" asp-route-id="@Model.Node.NodeId" asp-route-picturefixed=false asp-route-pictureptr=0>
                                    <button class="navbutton, btn, btn-info" type="submit">Back</button>
                                </form>
                            </li>
                            @for (int i = 0; i < Model.NoOfPictures; i++)
                            {
                                <li>
                                    <form asp-action="Details" asp-controller="Books" asp-route-id="@Model.Node.NodeId" asp-route-picturefixed=true asp-route-pictureptr=@i>
                                        <button class="navbutton, btn, btn-info" type="submit">@Model.Pictures.ToArray()[i].Title</button>
                                    </form>
                                </li>
                            }
                        </ul>
                    }
                </ul>
            }

        </nav>
    </div>
    <main role="main">
        @if (!@Model.PictureFixed)
        {
            <section class="post">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                <h1>@Model.Node.Heading</h1>
                <partial name="BookContent" model="@Model" />
                @if (Model.Node.TreeLevel > 1)
                {
                    <hr style="clear:left"/>
                    @if (Model.ShowingDetails)
                    {
                        <dl class="row">
                            <dt class="col-sm-1">
                                @Html.DisplayNameFor(model => @Model.Node.NodeId)
                            </dt>
                            <dd class="col-sm-1">
                                @Html.DisplayFor(model => @Model.Node.NodeId)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => @Model.Node.ParentNodeId)
                            </dt>
                            <dd class="col-sm-1">
                                @Html.DisplayFor(model => @Model.Node.ParentNodeId)
                            </dd>
                            <dt class="col-sm-1">
                                @Html.DisplayNameFor(model => @Model.Node.TreeLevel)
                            </dt>
                            <dd class="col-sm-1">
                                @Html.DisplayFor(model => @Model.Node.TreeLevel)
                            </dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-1">
                                @Html.DisplayNameFor(model => @Model.Node.Owner)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => @Model.Node.Owner)
                            </dd>
                            <dt class="col-sm-1">
                                @Html.DisplayNameFor(model => @Model.Node.Views)
                            </dt>
                            <dd class="col-sm-1">
                                @Html.DisplayFor(model => @Model.Node.Views)
                            </dd>
                        </dl>
                    }
                    @if (Model.ShowingSummary)
                    {
                        <dl class="row">
                            <dt class="col-sm-1">
                                @Html.DisplayNameFor(model => @Model.Summary.Owner)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => @Model.Summary.Owner)
                            </dd>
                            <dt class="col-sm-1">
                                @Html.DisplayNameFor(model => @Model.Summary.Views)
                            </dt>
                            <dd class="col-sm-1">
                                @Html.DisplayFor(model => @Model.Summary.Views)
                            </dd>
                        </dl>
                    }
                }

            </section>
        }
        else
        {
            <div class="fixedpicture">
                <figure>
                    @if (@Model.Node.TreeLevel == 1)
                    {
                        <img src="\@Model.Pictures.ToArray()[@Model.PicturePointer].Picture1" asp-append-version="true" class="imagelevel1" />
                    }
                    else
                    {
                        <img src="\@Model.Pictures.ToArray()[@Model.PicturePointer].Picture1" asp-append-version="true" class="image" />
                    }
                </figure>
            </div>
            <div class="fixedcontainer">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                <h1>@Model.Node.Heading</h1>
                <h4>Node : @Model.Node.NodeId</h4>
                <partial name="BookContent" model="@Model" />
            </div>
        }
    </main>
</div>


