@model Books.Models.BookIndexViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="contain">
    <div class="masthead">
        <p class="logo"><img src="~/images/logo.jpg" /></p>
        <nav role="navigation">
            <ul class="nav-main">
                @if (@Model.HasChildren)
                {
                    <li>
                        <form asp-action="Down" asp-controller="Books" asp-route-id="@Model?.Node.NodeId">
                            <button class="navbutton, btn, btn-info" type="submit">Down</button>
                        </form>
                    </li>
                }
                @if (@Model.HasParent)
                {
                    <li>
                        <form asp-action="Up" asp-controller="Books" asp-route-id="@Model?.Node.NodeId">
                            <button class="navbutton, btn, btn-info" type="submit">Up</button>
                        </form>
                    </li>
                }
                <li>
                    <form asp-action="Index" asp-controller="Home">
                        <button class="navbutton, btn, btn-info" type="submit">Home</button>
                    </form>
                </li>
            </ul>
            <ul class="nav-main">
                <li>
                    <form asp-action="Edit" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId" method="get">
                        <button class="navbutton, btn, btn-info" type="submit">Edit</button>
                    </form>
                </li>
            </ul>
            <ul class="nav-main">
                <li>
                    <form asp-action="New" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId">
                        <button class="navbutton, btn, btn-info" type="submit">New</button>
                    </form>
                </li>
                <li>
                    <form asp-action="NewChild" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId">
                        <button class="navbutton, btn, btn-info" type="submit">New Child</button>
                    </form>
                </li>
                @if (!@Model.HasSummary && @Model.ShowingDetails && @Model.Node.TreeLevel > 2)
                {
                    <li>
                        <form asp-action="CreateSummary" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId" method="get">
                            <button class="navbutton, btn, btn-info" type="submit">Create Summary</button>
                        </form>
                    </li>
                }
                @if(@Model.Node.TreeLevel > 1)
                {
                    <li>
                        <form asp-action="Edit" asp-controller="Formula" asp-route-id="@Model?.Node.NodeId" method="get">
                            <button class="navbutton, btn, btn-info" type="submit">Create Formula</button>
                        </form>
                    </li>
                }
                @if (@Model.Node.TreeLevel == 2 && @Model.Node.Heading.Length > 6)
                {
                    if (@Model.Node.Heading.Substring(0, 7) == "Chapter")
                    {
                        <li>
                            @using (Html.BeginForm("Chapter", "Summaries", new { NodeID = @Model.Node.NodeId }, FormMethod.Get, true, new { @class = "navbutton" }))
                            {
                                <input class="navbutton, btn, btn-info" type="submit" value="Chapter Summary" />
                                @Html.Hidden("NodeID", @Model.Node.NodeId)
                            }
                            <form asp-action="Chapter" asp-controller="Summaries" asp-route-id="@Model?.Node.NodeId">
                                <button class="navbutton, btn, btn-info" type="submit">Create Chapter Summary</button>
                            </form>
                        </li>
                    }
                }
            </ul>
            <ul class="nav-main">
                @if (@Model.HasSummary && @Model.ShowingDetails)
                {
                    <ul class="detailssummary">
                        <li>
                            <form asp-action="Details" asp-controller="Books" asp-route-id="@Model?.Node.NodeId" asp-route-Display="Summary">
                                <button class="navbutton, btn, btn-info" type="submit">Summary</button>
                            </form>
                        </li>
                    </ul>
                }
                @if (@Model.HasSummary && @Model.ShowingSummary)
                {
                    <ul class="detailssummary">
                        <li>
                            <form asp-action="EditSummary" asp-controller="Admin" asp-route-id="@Model?.Summary.SummaryId" method="get">
                                <button class="navbutton, btn, btn-info" type="submit">Edit Summary</button>
                            </form>
                        </li>
                        <li>
                            <form asp-action="Details" asp-controller="Books" asp-route-id="@Model?.Node.NodeId" asp-route-Display="Details">
                                <button class="navbutton, btn, btn-info" type="submit">Details</button>
                            </form>
                        </li>
                    </ul>
                }
            </ul>
            <ul class="nav-main">
                <div class="PictureTools">
                    <form asp-action="NewPicture" asp-controller="Admin" asp-route-id="@Model?.Node.NodeId" asp-route-picturetitle="@Model.PictureTitle" asp-route-picturefile="@Model.PictureFile" enctype="multipart/form-data" method="post">
                        <dl>
                            <dt>
                                <label asp-for="@Model.PictureTitle"></label>
                            </dt>
                            <dd>
                                <input asp-for="@Model.PictureTitle" type="text">
                                <span asp-validation-for="@Model.PictureTitle"></span>
                            </dd>
                            <dt>
                                <label asp-for="@Model.PictureFile"></label>
                            </dt>
                            <dd>
                                <input asp-for="@Model.PictureFile" type="file">
                                <span asp-validation-for="@Model.PictureFile"></span>
                            </dd>
                        </dl>
                        <input class="btn btn-primary" type="submit" value="Save" />
                    </form>
                </div>
            </ul>
            <ul class="nav-main">
                @foreach (var n in Model.Siblings)
                {
                    if (n.TreeLevel != 1)
                    {
                        var classfields = "navbuton btn" + (@n.Heading == ViewBag.SelectedNodeHeading ? " btn-primary" : "btn-info ");
                        <li>
                            <form asp-action="Details" asp-controller="Books" asp-route-id="@n.NodeId">
                                <button class="@classfields" type="submit">@n.Heading</button>
                            </form>
                        </li>
                    }
                }
            </ul>
            @if (@Model.HasPicture && !(@Model.Node.TreeLevel == 1))
            {
            <ul class="nav-main">
                @if (!@Model.PictureFixed)
                {
                    <ul class="picturebuttons">
                        @for (int i = 0; i < Model.NoOfPictures; i++)
                        {
                            <li>
                                <form asp-action="Details" asp-controller="Books" asp-route-id="@Model.Node.NodeId" asp-route-picturefixed=true asp-route-pictureptr=@i>
                                    <button class="navbutton, btn, btn-info" type="submit">@Model.Pictures.ToArray()[i].Title</button>
                                </form>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <ul class="picturebuttons">
                        <li>
                            <form asp-action="Details" asp-controller="Books" asp-route-id="@Model.Node.NodeId" asp-route-picturefixed=false asp-route-pictureptr=0>
                                <button class="navbutton, btn, btn-info" type="submit">Back</button>
                            </form>
                        </li>
                        @for (int i = 0; i < Model.NoOfPictures; i++)
                        {
                            <li>
                                <form asp-action="Details" asp-controller="Books" asp-route-id="@Model.Node.NodeId" asp-route-picturefixed=true asp-route-pictureptr=@i>
                                <button class="navbutton, btn, btn-info" type="submit">@Model.Pictures.ToArray()[i].Title</button>
                                </form>
                            </li>
                        }
                    </ul>
                }
            </ul>
            }

        </nav>
    </div>
    <main role="main">
        @if (!@Model.PictureFixed)
        {
            <section class="post">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                <h1>@Model.Node.Heading</h1>
                <h4>Node : @Model.Node.NodeId</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => @Model.Node.ParentNodeId)
                    </dt>
                    <dd class="col-sm-1">
                        @Html.DisplayFor(model => @Model.Node.ParentNodeId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => @Model.Node.TreeLevel)
                    </dt>
                    <dd class="col-sm-1">
                        @Html.DisplayFor(model => @Model.Node.TreeLevel)
                    </dd>
                    <dt class="col-sm-1">
                        @Html.DisplayNameFor(model => @Model.Node.Tree)
                    </dt>
                    <dd class="col-sm-1">
                        @Html.DisplayFor(model => @Model.Node.Tree.Heading)
                    </dd>
                    <dt class="col-sm-1">
                        @Html.DisplayNameFor(model => @Model.Node.Type)
                    </dt>
                    <dd class="col-sm-1">
                        @Html.DisplayFor(model => @Model.Node.Type.Label)
                    </dd>
                </dl>
                <partial name="BookContent" model="@Model" />
            </section>
        }
        else
        {
            <div class="fixedpicture">
                <figure>
                    @if (@Model.Node.TreeLevel == 1)
                    {
                        <img src="\@Model.Pictures.ToArray()[@Model.PicturePointer].Picture1" asp-append-version="true" class="imagelevel1" />
                    }
                    else
                    {
                        <img src="\@Model.Pictures.ToArray()[@Model.PicturePointer].Picture1" asp-append-version="true" class="image" />
                    }
                </figure>
            </div>
            <div class="fixedcontainer">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                <h1>@Model.Node.Heading</h1>
                <h4>Node : @Model.Node.NodeId</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => @Model.Node.ParentNodeId)
                    </dt>
                    <dd class="col-sm-1">
                        @Html.DisplayFor(model => @Model.Node.ParentNodeId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => @Model.Node.TreeLevel)
                    </dt>
                    <dd class="col-sm-1">
                        @Html.DisplayFor(model => @Model.Node.TreeLevel)
                    </dd>
                    <dt class="col-sm-1">
                        @Html.DisplayNameFor(model => @Model.Node.Tree)
                    </dt>
                    <dd class="col-sm-1">
                        @Html.DisplayFor(model => @Model.Node.Tree.Heading)
                    </dd>
                    <dt class="col-sm-1">
                        @Html.DisplayNameFor(model => @Model.Node.Type)
                    </dt>
                    <dd class="col-sm-1">
                        @Html.DisplayFor(model => @Model.Node.Type.Label)
                    </dd>
                </dl>
                <partial name="BookContent" model="@Model" />
            </div>
        }
    </main>
</div>


